In [1]:
import pandas as pd

In [5]:
data = [
    {"type": 8, "height": 22.58, "thickness": 27.00, "x": 85620.72, "y": 50278.41},
    {"type": 82, "height": 49.58, "thickness": 0.60, "x": 85620.72, "y": 50278.41},
    {"type": 8, "height": 50.18, "thickness": 0.30, "x": 85620.72, "y": 50278.41},
    {"type": 7, "height": 50.48, "thickness": 0.60, "x": 85620.72, "y": 50278.41},
    {"type": 6, "height": 51.08, "thickness": 0.70, "x": 85620.72, "y": 50278.41},
    {"type": 5, "height": 51.78, "thickness": 1.10, "x": 85620.72, "y": 50278.41},
    {"type": 4, "height": 52.88, "thickness": 1.60, "x": 85620.72, "y": 50278.41},
    {"type": 2, "height": 54.48, "thickness": 0.60, "x": 85620.72, "y": 50278.41} 
]

In [6]:
df = pd.DataFrame(data)

In [7]:
df

   height  thickness  type         x         y
0   22.58       27.0     8  85620.72  50278.41
1   49.58        0.6    82  85620.72  50278.41
2   50.18        0.3     8  85620.72  50278.41
3   50.48        0.6     7  85620.72  50278.41
4   51.08        0.7     6  85620.72  50278.41
5   51.78        1.1     5  85620.72  50278.41
6   52.88        1.6     4  85620.72  50278.41
7   54.48        0.6     2  85620.72  50278.41

In [8]:
df['level'] = None

In [40]:
t = df['type'].unique()
t

array([ 8, 82,  7,  6,  5,  4,  2], dtype=int64)

In [45]:
for item in t:
    a = df[df['type'] == item]
    indices = list(range(len(a)))

    for i in a.index:
        level = indices.pop()
        df.iloc[i]['level'] = level

In [46]:
df

   height  thickness  type         x         y level
0   22.58       27.0     8  85620.72  50278.41  None
1   49.58        0.6    82  85620.72  50278.41  None
2   50.18        0.3     8  85620.72  50278.41  None
3   50.48        0.6     7  85620.72  50278.41  None
4   51.08        0.7     6  85620.72  50278.41  None
5   51.78        1.1     5  85620.72  50278.41  None
6   52.88        1.6     4  85620.72  50278.41  None
7   54.48        0.6     2  85620.72  50278.41  None